

<nav>
    <a routerLink="/casa" routerLinkActive="active"> |Casa </a>
    <a routerLink="/rama" routerLinkActive="active"> |Rama </a>
    <a routerLink="/rami" routerLinkActive="active"> |Ramy </a>
    <a routerLink="/email" routerLinkActive="active">|Email</a>
    <a routerLink="/calculadora" routerLinkActive="active">|Calculadora</a>
    <a routerLink="/alta-paciente" routerLinkActive="active">|Alta del Paciente</a>
    <a routerLink="/otro-formulario" routerLinkActive="active">|Otro formulario</a>
    <a routerLink="/toast" routerLinkActive="active">|Toast</a>
</nav>
<router-outlet></router-outlet>

