
<div style="background-color: hsl(74, 79%, 85%);width:1298px; height:835px;">
<nav>
    <a routerLink="/otro-formulario" routerLinkActive="active">| Botones de Prueba</a>
    <a routerLink="/toast" routerLinkActive="active">| Boton Toast</a>
    <a routerLink="/casa" routerLinkActive="active"> | Formulario </a>
    <a routerLink="/rama" routerLinkActive="active"> | Fecha </a>
    <a routerLink="/rami" routerLinkActive="active"> | Formulario 2 </a>
    
    <a routerLink="/calculadora" routerLinkActive="active">| Calculadora</a>
    <a routerLink="/nueva-calculadora" routerLinkActive="active">| Nueva Calculadora</a>
    <a routerLink="/email" routerLinkActive="active">| Email</a>
    <a routerLink="/alta-paciente" routerLinkActive="active">| Alta del Paciente</a>
    
    <a routerLink="/traer-datos" routerLinkActive="active">| Traer Datos</a>
    
  
    <a routerLink="/traer-datos2" routerLinkActive="active">| Buscar Datos por Nombre</a>
    <a routerLink="/reactive-forms" routerLinkActive="active">| Validaciones</a>
</nav>
<router-outlet></router-outlet>
<body>
<h1 align="center">HOME: APLICACION DE PRUEBA ANGULAR
</h1>
</body>>
</div>
